.selector.wrapper {
  height: 110vh;
  width: 100vw;
  margin-top: -120px;

  background-image: url("../img/header/header-background.jpg");
  background-position: 50% 50%;
  background-size: cover;
  filter: drop-shadow(0px 0px 25px rgb(0, 0, 0));
}

.scroll-line {
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  background-color: var(--brand-color);
}

.header__nav {
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0, 1));
  z-index: 100;
  height: 80px;
  position: fixed;
  left: 120px;
  width: 100%;
  top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: auto;

  .logo-container {
    height: 40px;
    width: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    object-fit: contain;
  }

  .nav-buttons,
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;

    a {
      cursor: none;
    }
  }

  .nav-buttons {
    flex-basis: 100%;
    margin-left: 80px;
    z-index: 5;

    a {
      z-index: 5;
      position: relative;
      text-decoration: none;
      color: var(--secondary-text-color);
      font-weight: 600;
      transition: all 0.3s;
    }

    a::before {
      position: absolute;
      left: 50%;
      top: 100%;
      content: "";
      height: 2px;
      width: 0;
      background-color: var(--text-color);
      transition: all 0.3s;
    }

    a:hover::before {
      width: 100%;
      left: 0;
    }

    a:hover {
      color: var(--text-color);
    }
  }

  .menu {
    z-index: 5;
    gap: 30px;
    .menu__item {
      z-index: 5;
      width: 35px;
      height: 35px;
      border-radius: 40px;
      background-color: var(--brand-color);
      display: flex;
      justify-items: center;
      align-items: center;
      transition: all 0.3s;
    }

    .menu__item:hover {
      background-color: var(--brand-color-selected);
    }

    .icon {
      transform: scale(0.5);
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(2deg)
        brightness(105%) contrast(102%);
    }
  }
}

@media (width <= 1440px) {
  .header__nav {
    left: 60px;
  }
}
