.selector.wrapper {
  height: 100vh;
  width: 100vw;
  margin-top: -120px;

  background-image: url("../img/header/header-background.jpg");
  background-position: 50% 50%;
  background-size: cover;
  filter: drop-shadow(0px 0px 25px rgb(0, 0, 0));
}

.scroll-line {
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  background-color: var(--brand-color);
}

.header__nav {
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0, 1));
  z-index: 100;
  height: 80px;
  position: fixed;
  left: 120px;
  width: 100%;
  top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: auto;

  .logo-container {
    height: 40px;
    width: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    object-fit: contain;
  }

  .nav-buttons,
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;

    a {
      cursor: none;
    }
  }

  .nav-buttons {
    flex-basis: 100%;
    margin-left: 80px;
    z-index: 5;

    a {
      z-index: 5;
      position: relative;
      text-decoration: none;
      color: var(--secondary-text-color);
      font-weight: 600;
      transition: all 0.3s;
    }

    a::before {
      position: absolute;
      left: 50%;
      top: 100%;
      content: "";
      height: 2px;
      width: 0;
      background-color: var(--text-color);
      transition: all 0.3s;
    }

    a:hover::before {
      width: 100%;
      left: 0;
    }

    a:hover {
      color: var(--text-color);
    }
  }

  .menu {
    z-index: 5;
    gap: 30px;
    .menu__item {
      z-index: 5;
      width: 35px;
      height: 35px;
      border-radius: 40px;
      background-color: var(--brand-color);
      display: flex;
      justify-items: center;
      align-items: center;
      transition: all 0.3s;
    }

    .menu__item:hover {
      background-color: var(--brand-color-selected);
    }

    .icon {
      transform: scale(0.5);
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(2deg)
        brightness(105%) contrast(102%);
    }
  }
}

.selector-hero {
  .header-hero__title {
    padding-top: 180px;
    color: var(--text-color);
    font-size: 72px;
    max-width: 450px;
    margin-top: 120px;
    letter-spacing: 5px;
  }

  .sneakers-container {
    position: absolute;
    z-index: 101;
    height: 30%;
    width: 45%;
    top: 0 !important;
    left: 500px;
    padding-top: 170px;
    transition: all 0.3s;
    pointer-events: none;
  }

  .sneakers-image {
    object-fit: cover;
    transform: rotate(-13deg);
    transition: all 0.3s;
    animation: flying-hero 5s infinite;
  }

  .panels-container {
    z-index: 0;
    width: 100vw;
    height: 200px;
    left: 0;
    top: 610px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
  }

  .left-panel,
  .right-panel {
    width: 19vw;
    background-color: var(--light-gray-bg-color);
    transition: all 0.3s;
  }

  .right-panel {
    background-color: var(--dark-gray-bg-color);
  }

  .left-panel:hover,
  .right-panel:hover {
    width: 24vw;
  }

  .panels-text__left:hover ~ .panels-container .left-panel {
    width: 24vw;
  }

  .panels-text__right:hover ~ .panels-container .right-panel {
    width: 24vw;
  }

  .panels-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 270px;
  }

  .panels-text__left,
  .panels-text__right {
    z-index: 2;
    max-width: 350px;
  }

  .panels-text__right {
    text-align: right;
  }

  .panels-text-title {
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .panels-text-plain {
    color: var(--secondary-text-color);
  }

  .color-picker {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 20px;

    .color-picker-red,
    .color-picker-yellow,
    .color-picker-blue {
      width: 25px;
      height: 25px;
      border-radius: 15px;
      opacity: 0.2;
      transition: all 0.3s;

      &:hover {
        opacity: 0.4 !important;
      }
    }

    .color-picker-red {
      background-color: red;
    }

    .color-picker-yellow {
      background-color: yellow;
    }

    .color-picker-blue {
      background-color: blue;
    }
  }
}

.red-shadow {
  filter: drop-shadow(0px 0px 250px rgba(220, 20, 60, 0.5));
}

.yellow-shadow {
  filter: drop-shadow(0px 0px 250px rgba(217, 220, 20, 0.5));
}
.blue-shadow {
  filter: drop-shadow(0px 0px 250px rgba(20, 40, 220, 0.5));
}
