.header-hero-wrapper {
  background-image: url("../img/quote-second/image.png");
  background-size: cover;
  background-position: 0 49%;
}

.header-hero {
  height: 110vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin-top: 10%;
    font-size: 182px;
    opacity: 0.3;
    font-weight: 600;
  }

  .button {
    position: relative;
    border: 2px solid black;
    padding: 10px 40px;
    margin-top: 10%;
    color: black;
    text-decoration: none;
  }

  .button-text {
    position: relative;
    z-index: 100;
    transition: all 0.3s;
  }

  .button::before {
    content: "";
    background-color: black;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transition: all 0.3s;
  }

  .button:hover::before {
    width: 100%;
    left: 0;
  }

  .button:hover {
    .button-text {
      color: var(--text-color);
    }
  }

  .button::after {
    content: "";
    background-color: black;
    width: 150px;
    height: 2px;
    position: absolute;
    top: 50px;
    left: 50%;
    transition: all 0.3s;
    animation: flying-horisontal 3s infinite;
  }
}
