<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="cursor"></div>
    <div class="scroll-line"></div>
    <header class="container">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-nav.partial.html"
      ></nav>
    </header>
    <div class="header-hero-wrapper">
      <div class="header-hero">
        <section class="container">
          <nav
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index.header-hero.partial.html"
          ></nav>
        </section>
      </div>
    </div>
    <div class="selector wrapper">
      <header class="container">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.selector.partial.html"
        ></nav>
      </header>
    </div>
    <div class="recently-added-wrapper">
      <section class="container">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.recently-added.partial.html"
        ></nav>
      </section>
    </div>
    <div class="quote-wrapper">
      <section class="container">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.quote.partial.html"
        ></nav>
      </section>
    </div>
    <div class="shop-by-sport-wrapper">
      <section class="container">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.shop-by-sport.partial.html"
        ></nav>
      </section>
    </div>

    <div class="popular-right-now-wrapper">
      <section class="container">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.popular-right-now.partial.html"
        ></nav>
      </section>
    </div>

    <section class="footer-top container">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.footer-top.partial.html"
      ></nav>
    </section>

    <div class="footer-wrapper">
      <section class="container">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.footer.partial.html"
        ></nav>
      </section>
    </div>

    <script type="module" src="js/index.js"></script>
  </body>
</html>
