<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="header wrapper">
      <header class="header-nav container">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.header-nav.partial.html"
        ></nav>
      </header>
      <header class="header-hero container">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.header-hero.partial.html"
        ></nav>
      </header>
    </div>
    <div class="recently-added-wrapper">
      <section class="recently-added container">
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.recently-added.partial.html"
        ></nav>
      </section>
    </div>

    <script type="module" src="js/index.js"></script>
  </body>
</html>
